langchain==0.3.25
langchain-ollama==0.3.2
langchain-community==0.3.23
langgraph==0.4.3
pydantic==2.11.4
geopy==2.4.1
click==8.1.8
amadeus==12.0.0
matplotlib==3.10.3
python-dotenv==1.1.0
questionary==2.1.0
airportsdata==20250523
